body {
    background-color: lightblue;
}

#title {
    font-size: 48px;
    color: gold;
    text-shadow: 3px 3px 7px blue;
}

#errormsg {
    color: red;
}

.meme {
    background-color: darkblue;
}

.mtxt {

}

.mname {
    font-style: italic;
}